@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.container.main {
	margin-top:80px;
}


.facebook-login {
	width:280px;
	margin:0 auto;
	margin-top:25px;
	margin-bottom: 25px;
}

