@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.container.main {
	margin-top:80px;
}

#game-input{
    display:none;
}

.panel-body{
    position:relative;
}

.overlay {
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 2;
    opacity: 0.5;
}

.progress {
    display:none;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    z-index:3;
}

.thumb{
	overflow:hidden;
	position:relative;
	background-position:center;
}

.thumb a{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.post-thumb{
	margin-bottom:20px;
}





.facebook-login {
	width:280px;
	margin:0 auto;
	margin-top:25px;
	margin-bottom: 25px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }